resource "kubernetes_persistent_volume_claim" "db_volume" {
  metadata {
    name = "${var.name}-data-volume"
    namespace = var.k8s_namespace
  }
  spec {
    access_modes = [
      "ReadWriteOnce"
    ]
    resources {
      requests = {
        storage = "${var.storage_size_in_gb}Gi"
      }
    }
  }
}