resource "kubernetes_persistent_volume_claim" "db_volume" {
  metadata {
    name = "${var.deployment_name}-db-volume"
    namespace = var.k8s_namespace
  }
  spec {
    access_modes = [
      "ReadWriteOnce"
    ]
    resources {
      requests = {
        storage = "${var.db_pvc_size}Gi"
      }
    }
  }
}